<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div>
      <h1 style="text-align: center; margin-top: 5rem">Update Product</h1>
    </div>

    <div>
      <form
        th:action="@{/update/{id}(id=${id})}"
        th:object="${product}"
        method="post"
      >
        <div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <input
                type="text"
                class="form-control"
                style="
                  margin-top: 5rem;
                  margin-bottom: 2rem;
                  text-align: center;
                "
                placeholder="Enter Product Name"
                name="name"
              />
            </div>
            <div class="col-sm-3"></div>
          </div>

          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <input
                type="text"
                class="form-control"
                style="margin-bottom: 2rem; text-align: center"
                placeholder="Enter Product code"
                name="code"
              />
            </div>
            <div class="col-sm-3"></div>
          </div>
        </div>
        <div>
          <center>
            <button type="submit" class="btn btn-primary mb-2">Update</button>
          </center>
        </div>
      </form>
    </div>
  </body>
</html>
